.root {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.datos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.content_arrow {
    margin: auto;
}

.parrafo {
    margin: 0;
}

.subtitle {
    font-size: 10pt;
    color: #BDBDBD;
    font-style: italic;
}

.number {
    font-size: 10pt;
}

.number_negative {
    font-size: 10pt;
    color: #FF0000;
}

.link {
    text-decoration: none;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:active {
    color: #000000;
}