.root {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.datos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.parrafo {
    margin: 0;
}

.subtitle {
    font-size: 10pt;
    color: #BDBDBD;
    font-style: italic;
}

.number {
    font-size: 10pt;
    font-family: Arial;
}

.number_negative {
    font-size: 10pt;
    color: #FF0000;
    font-family: Arial;
}